
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink] = "['']">
    <img src="assets/img/mao.png" width="30" height="30" class="d-inline-block align-top" alt="">
    E-Commerce
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink] = "['']">Home</a>
        <a class="nav-item nav-link"  (click) = 'adm()'>Administração</a>
        <a class="nav-item nav-link" [routerLink]="['/carrinho']">Carrinho</a>
        
      </div>
    </div>
</nav>
<router-outlet></router-outlet>