
<div class="container-fluid">
    <div class = "row" >
<h2>Carrinho de Compras</h2>

    <div class="col card" style="width: 15rem;" *ngFor = "let car of carrinho; index as i"> 
          
        <div class="card-body">
          <h5 class="card-title">Nome: </h5> <p>{{car.nome}}</p>
          <h5 class="card-title">Preço: </h5><p class="card-text">R$ {{car.preco}}</p>
          <h5 class="card-title">Quantidade: </h5><p class="card-text">{{car.quantidade}}</p>
          </div>
        </div>


<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Confirmar Compra
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Compra</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Desejar confirmar a compra ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click) = comprar() data-bs-dismiss="modal">Confirmar Compra</button>
        </div>
      </div>
    </div>
</div>

<button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    Limpar Carrinho
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Limpar Carrinho</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Desejar limpar o carrinho?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click) = limpar() data-bs-dismiss="modal">Confirmar</button>
        </div>
      </div>
    </div>
</div>

<button [routerLink] = "['']" class="btn btn-dark btn-lg">Voltar</button>


</div>
</div>